<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>{{STORY_NAME}}</title>
    <style>
      <%- style %>
    </style>
  </head>

  <body>
    <main>
      <tw-story tags></tw-story>
      {{STORY_DATA}}
    </main>
    <script>
      <%- script %>
    </script>
  </body>
</html>
